/* Components.css */

/* ========================================================================= */
/*                        Buttons                                          */
/* ========================================================================= */
.btn {
    display: inline-block;
    padding: .8rem 1.8rem;
    transition: .3s;
    position: relative;
    border: 2px solid transparent;
    border-radius: 2rem;
    overflow: hidden;
    font-size: .9rem;
}

/* BTN yellow */
.btn-yellow {
    background: linear-gradient(to right, #FFE711, #FEA502);
    color: #000;
    transition: .4s;
    border: 2px solid transparent;
}
.btn-yellow:hover,
.btn-yellow:focus {
    background: #000;
    border: 2px solid var(--clr-yellow);
    color: var(--clr-yellow);
}


.btn-blue {
    background: linear-gradient(to right, #006BDF, #003A79);
    color: #fff;
    transition: .4s;
    border: 2px solid transparent;
}
.btn-blue:hover,
.btn-blue:focus {
    background: #fff;
    border: 2px solid #003A79;
    color: #003A79;
}
