/* Typography.css */


.heading-secondary {
    font-family: "Century Gothic", sans-serif;
    font-weight: bolder;
    font-size: clamp(3rem, 3vw + 1rem, 5rem);
    margin-bottom: 3rem;
    line-height: 1.2;
}

.heading-tertiary {
    font-family: "Century Gothic", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.5;
}


.header-title {
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    font-size: clamp(3rem, 3vw + 1rem, 5rem);
}







/* colors */
.blue-text {
    color: var(--clr-blue);
}
.white-text {
    color: #fff;
}