---
import { Image } from "astro:assets";
import Logo from "/src/assets/logo-white.png"
import LogoLight from "/src/assets/logo-light.png"
---




<!-- navOverlay -->
<div class="nav-overlay"></div>



<!-- nav-bar -->
<nav class="nav-bar">
    <div class="container wrapper">
        <div class="flex flex-wrap items-center justify-between mx-auto p-4">
            <!-- logo -->
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <Image src={Logo} alt="Winnard Bansah Logo" class="logo w-[60px]">
            </a>
    
            <!-- Buttons -->
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse items-center">
        
                <!-- <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                </button> -->
                <!-- end of theme button -->
    
                <!-- Menu Button -->
                <div class="nav-btn">
                    <div class="lines"></div>
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
            </div>
    
    
            <!-- Nav Menu -->
            <ul class="nav-list" id="navbar-sticky">
                <li class="nav-item">
                    <a href="/" class="nav-link" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/menu" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="/portfolio" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <a href="/order" class="btn btn-yellow hidden">Order Now</a>
        </div>
    </div>
  </nav>

  















<style lang="scss">



// ============= Nav-Overlay ================
.btn {
    padding: .5rem 1rem;
}
.nav-overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(250, 240, 190, 0.397);
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: none;
        opacity: 0;
        backdrop-filter: blur(10px);

        &.show {
            opacity: 1;
            pointer-events: initial;

        }
    }


.nav-bar {
    // background: linear-gradient( to bottom, #002035, #002035);
    // background-color: red;
    width: 100%;
    position: relative;











    // ============= Nav Button  =================
    .nav-btn {
        // position: fixed;
        // top: 20px;
        // right: 20px;
        z-index: 21;
        cursor: pointer;

        .lines {
            width: 1.7rem;
            height: .1rem;
            background-color: var(--clr-orange);
            // background-color: green;
            transition: .4s;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
        &.close {
            
            
            .lines {
    
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-8px, 6px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translate(-7px, -7px);
                }
            }
        }
    }

}






// desktops
@media screen and (min-width: 768px) {

    .nav-bar {
        // background-color: var(--clr-black);
        width: 90vw;
        max-width: 900px;
        display: flex;
        padding: .2rem 3rem;
        border-radius: 3rem;
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, .2);
        position: fixed;
        position: -webkit-sticky;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        transition: .4s;
        // display: none;
        // position: fixed;
    }

    .nav-btn {
        display: none;
    }

    // ====================== Nav List ================
    .nav-list {
        display: flex;
        

        .nav-item {

            &:not(:last-child) {

                .nav-link {
                    border-right: 1px solid rgba(255, 255, 255, .1);
                }
            }
        }

        .nav-link {
            display: inline-block;
            color: var(--clr-dark);
            padding: 0rem .5rem;
            font-size: .9rem;

            &:hover,
            &:focus {
                color: var(--clr-white);
            }
        }
    }

    
}






// Mobile devices
@media screen and (max-width: 767px) {

    .btn {
        display: none;
    }

    .nav-bar {
        width: 90vw;
        border-radius: 3rem;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        position: fixed;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        .nav-list {
            width: 100%;
            transition: .4s;
            background-color: var(--clr-black);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 50vh;
            transform: translate3d(0, -110%, 0);
            
            &.show {
                transform: translate3d(0, 00%, 0);
                border-radius: 3rem;
            }

            .nav-item {

                &:not(:last-child) {
                    margin-bottom: .3rem;
                }
            }

            .nav-link {
                display: inline-block;
                padding: .5rem 2rem;
                font-size: 1.2rem;
                border-radius: .5rem;
                border: 1px solid transparent;
                color: var(--clr-white);

                &:hover {
                    border: 1px solid var(--clr-orange);
                    color: var(--clr-yellow);
                }
            }
        }
    }
}
</style>
